@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic,700italic);

body {
	font-family: -apple-system, 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
}

p {
	font-size: 14px;
}

div#pieBySender, #barBySender, #pieByTime, #timeseries {
	text-align: center;
}

